:root {
  /* GLOBALS */
  --color-dark-blue: hsl(218, 44%, 22%); /* background card */
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-white: hsl(0, 0%, 100%);
  --font-plain: Outfit, sans-serif;
  --font-weight: 700;

  color: var(--color-grayish-blue);
  background-color: var(--color-light-gray);
  font-family: var(--font-plain);
  font-size: 62.5% /* 10px */;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  background-color: inherit;
  border: 0 solid;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

/* -----
  LAYOUT
------------------------------------*/
.box-l {
  background: var(--color-white);
  border: var(--color-dark-blue);
  display: block;

  /* for accessibility */
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;

  padding: 1em;
}

.center-l {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 100%;
  padding-inline: 1.75em;
}

.cover-l {
  align-items: center;
  display: flex;
  min-block-size: 100vh;
}

.frame-l {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 290px;
}

.frame-l > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 0.6em;
  text-align: center;
}

.stack-l > * + * {
  margin-block-start: 2rem;
}
/* -----
  CARD
------------------------------------*/
.card {
  border-radius: 1.25em;
  box-shadow: 0 0 2px var(--color-grayish-blue);
  max-height: 500px;
  max-width: 320px;
  min-width: 250px;
}

.card__media {
  border-radius: 0.75em;
}

.card__text {
  padding-block-end: 1.5em;
  padding-inline: 0.25em;
}

.card__title {
  color: var(--color-dark-blue);
  font-size: 2.2rem;
  font-weight: var(--font-weight);
  margin-block-start: 2.5rem;
}
