@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./lib/Google-Fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./lib/Google-Fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./lib/Google-Fonts/PlusJakartaSans-ExtraBold.ttf')
    format('truetype');
}
